.container{
	background-image: url("/bundles/nivek-layouts/graphics/img/gw-overlay.png");
	font-family: "Open Sans";
}

#countdown-area {
	position: absolute;
	left: 265px;
	top: 268px;
	font-weight: normal;
	color: #0080ff;
	font-size: 104px;
}

#clock-main {
	color: black;
	font-family: "Droid Sans Mono";
	font-weight: normal;
	position: relative;

}

#mwc-logo {
	position: absolute;
	height: 102px;
	width: auto;
	left: 29px;
	top: 32px;
}
